body {
	background: url(../images/paper.png) repeat;
	padding-top: 5%;
	text-align: center;
}

#avatar {
	width: 180px;
	margin: 0 auto;
}

#avatar img {
	border-radius: 20px;
}

#intro {
	font-family: "Fauna One", serif;
	font-size:1.8em;
}

span#job {
	font-style: italic;
}