/*======================
TABLE
========================*/
table {
	border-collapse: collapse;
	border: solid 1px #000;
}

table th {
	background: #ff8401;
	padding: 5px;
	border: solid 1px #000;
	border-bottom-width: 2px;
	color: #fff;
	font-weight: 700;
}

table td {
	padding: 5px;
	border: solid 1px #000;
}

/*======================
IMAGE
========================*/
img {
	border: solid 1px #000;
}

/*======================
ITEM
========================*/
.item {
	float: left;
	width: 100%;
	padding: 7px 0 7px 0;
	border-bottom: solid 1px #dfdfdf;
}

.last {
	border-bottom: 0;
}

.item .icon {
	float: left;
	width: 70px;
	height: 70px;
	margin: 0 15px 0 15px;
}

.item .icon img {
	border: 0;
}

