body {
	margin: 0;
	padding: 0;
	background: url(../images/bg.jpg) repeat;
	font-size: 16px;
	font-family: "Microsoft YaHei", sans-serif;
}

a {
	text-decoration: underline;
	color: #000;
	font-weight: bold;
}

a:hover {
	text-decoration: none;
	color: #669933;
	font-weight: bold;
}

#wrapper {
	width: 800px;
	margin: 0 auto;
}

#content {
	background-color: #ecf0f1;
	width: 750px;
	text-align: left;
	overflow: auto;
	position: relative;
	margin: 25px 0 25px 0;
	border: 2px solid #fff;
}

/*header*/
header {
	width: 740px;
	height: 190px;
	margin: 0 auto;
	padding-bottom: 20px;
	border-bottom: 1px dotted #aaa;
}

#avatar {
	float: left;
	width: 170px;
	height: 170px;
	background: url(../images/bg.jpg);
	margin: 20px 0 0 20px;
}

#avatar img {
	width: 150px;
	height: 150px;
	padding: 10px;
}

#info {
	float: left;
	width: 520px;
	margin: 10px;
}

#name {
	margin: 0 0 10px 20px;
	padding: 0;
	font-size: 50px;
}

#note {
	margin: 0 0 10px 20px;
	padding: 0;
	font-size: 20px;
}

#contact ul {
	float: left;
	margin: 0 0 0px 20px;
	padding: 0;
	font-size: 18px;
	list-style: none;
	display: inline-block;
}

#contact ul li {
	margin: 10px 0 10px 0;
}

/*section*/
section {
	width: 700px;
	margin: 0 auto;
	font-size: 18px;
}

h2 {
	font-size: 25px;
	background: url(../images/bg.jpg) repeat;
	margin-top: 20px;
	padding: 5px 0 5px 10px;
	border-radius: 5px;
}

#introduce p {
	padding: 0 10px 0 10px;
	line-height: 1.6em;
}

#skills ul {
	margin: 0;
	display: inline-block;
	width: 200px;
}

#works div {
	width: 300px;
	padding: 20px 20px 0 20px;
	border-radius: 10px;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}

#works div:hover {
	background: url(../images/bg.jpg) no-repeat;
}

#prize ul li {
	margin: 0 0 10px 0;
}

.exp-item .exp-title {
	margin: 0 0 5px 0;
}

.exp-description {
	margin: 0 0 10px 0;
}

#goal ul li {
	margin: 0 0 10px 0;
}

#comment ul {
	margin: 0 0 30px 0;
}

#comment ul li {
	display: inline;
	padding: 0 90px 0 0;
}